<div class="container mt-4">
  <h2>Lista de Productos</h2>
  <button class="btn btn-primary mb-3" (click)="nuevo()">Nuevo Producto</button>

  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Stock</th>
        <th>Estado</th>
        <th>Categoría</th>
        <th>Marca</th>
        <th>Unidad</th>
        <th>Impuesto</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of productos">
        <td>{{ p.nombre }}</td>
        <td>{{ p.precio | currency:'COP' }}</td>
        <td>{{ p.stock }}</td>
        <td>{{ p.estado ? 'Activo' : 'Inactivo' }}</td>
        <td>{{ p.categoria }}</td>
        <td>{{ p.marca }}</td>
        <td>{{ p.unidadMedida }}</td>
        <td>{{ p.impuesto }}%</td>
        <td>
          <button class="btn btn-warning btn-sm me-2" (click)="editar(p.id!)">Editar</button>
          <button class="btn btn-danger btn-sm" (click)="eliminar(p.id!)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>


